body {
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    zoom: 80%;
  }
  .post-tags {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;

  }