body {
    background-color: #EEEEEE;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    zoom: 82%;
  }
  .post-tags {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;

  }
  .dotted {
    border: 2px dotted gray; 
    border-style: none none dotted;
    color: #ffffff;
     background-color: #ffffff; 
     
    }
