button {
    &.v-btn {
        &.v-btn--outlined  {
        & span{
            &.v-btn__content{
                &.colored{
                    text-transform: none !important;
                    color: $color_white; 
                }
                    
             }
        }
  }

 
}
}

p{
    button{
        &.v-btn--fab.icon{
              box-shadow: 1px 1px 2px 2px #aeaeae;
            color: blue !important;
            background-color: $color_whitish !important;
            & span{
                &.v-btn__content{
                    & i{
                        color: $color_primary !important;
                       
                    }
                }
            }
        }
    }
}