

  @font-face {
    font-family: "WolfFont";
    font-style: normal;
    font-weight: 400;
    src: local("WolfFont"),
      url(../fonts/content/content.woff2) format("woff2");
  }

  @font-face {
    font-family: "ActorV10";
    font-style: normal;
    font-weight: 400;
    src: local("ActorV10"),
      url(../fonts/actor-v10-latin/actor-v10-latin-regular.woff2) format("woff2");
  }

#__nuxt .app{
    font-family: "WolfFont";
    color: #37474F;
    h1, h2, h3, h4{
      color: #263238;
    }
}


.v-footer {
    span{
    align-items: center;
     vertical-align: middle;
     line-height: 90%;       /* The same as your div height */
    }
   
}


