.image {
  img {
   background-color: #d1caca;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 4px solid #d1caca;
  }
  &.post-image {
    height: 200px;
    width: 200px;
    object-fit: fill;
    border-radius: 50%;
  }
}
.round{
  img{
    width: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}