a { 
     text-decoration: none;
     &.v-card {
          text-decoration: none;
          &:hover{
               text-decoration: underline;
          }
     }
    &:hover{
          text-decoration: underline;
     }
}

.icon.icon-link {
     background-image: url('~assets/svg/link_variant.svg');
     display: inline-block;
     width: 20px;
     height: 20px;
     background-size: 20px 20px;
}
