 a { 
          text-decoration: none !important;
          color: $color_accent !important;
          font-size: medium;
          
          &.v-card {
               text-decoration: none;
               &:hover{
                    text-decoration: underline;
               }
          }
         &:hover{
               text-decoration: underline;
          }
     
          &.nuxt-link-active{
               margin-left: 1%;
               margin-right: 1%;
               text-decoration: none !important;
               color: $color_primary !important;
               font-size: large;
               &.nuxt-link-exact-active{
                    font-size: medium;
               }
          
          }
          &.links{
               margin-left: 1%;
               margin-right: 1%;
               text-decoration: none !important;
               font-weight: 400;
               color: $color_primary !important;
          }
     }
li{
     &.ml-2{
          a{
           font-size: small !important;
          }
      }
}

.icon.icon-link {
     background-image: url('~assets/svg/link_variant.svg');
     display: none;
     width: 20px;
     height: 20px;
     background-size: 20px 20px;
}
strong {
     color: #006400;
  &.button {
	box-shadow: 0px 0px 0px 0px #00a756;
	background: linear-gradient(to bottom, #00a756 5%, #00a756 100%);
	background-color:#00a756;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
     font-family: "WolfFont";
	font-size: 11px;
	font-weight: bold;
	padding: 5px 12px;
	text-decoration: none;
     text-transform: uppercase;
&:hover {
	background:linear-gradient(to bottom, #00a756 5%, #00a756 100%);
	background-color:#04703c;
}
&:active {
	position:relative;
	top:1px;
}
}
}
.v-toolbar__title{
     font-weight: bolder;
     font-size: x-large !important;
     color: $color_primary !important;
}
    