.nuxt-content-container{
    .nuxt-content{
        h3{
            margin-top: 16px;
        }
        ul{
            width: 90%;
            background-color: #EFEFEF;
            margin: 1%;
            padding-top: 1%;
            padding-bottom: 1%;
            code{
                background-color: transparent;
            }
        }

    }
}