.nuxt-content-container{
    .nuxt-content{
        h3{
            margin-top: 16px;
        }
        ul{
            width: 50%;
            background-color: #EFEFEF;
            code{
                background-color: transparent;
            }
        }

    }
}